body{
    font-family: 'Manrope', sans-serif;
}

body {
    background: url("/images/ambulancebackground.jpg") 50% 0 no-repeat fixed;
    color: white;
    height: 100%;
    padding: 100px 0 0 0; 
    display: contents;
}