
  <div id="page_wrapper">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        
        
          <li><a href="{% url 'account_new' %}" class="p-r-none"  ><i class="fa-solid fa-plus"></i>add account</a></li>
            <li><a href="/logout/">logout</a></li>
            
            
        {% else %}
            <li><a href="/login/">login</a></li>
            <li><a href="{% url 'provider' %}" class="p-r-none">sign up</a></li>
        {% endif %}
    </ul>
</nav>
</div>
    
      


  <style>
    .navbar{
      color: #2C3E50;
      opacity: 0.6;
    }

    .nav {
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row;
      justify-content: space-around;    
      font-size: 21px;
  }
  
  nav li {
      margin: 0;
      padding: 40;
      display: block;
  }

  nav {
    height: 100px;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline-block;
    height: 100%;
    width: 10%;
}


nav li a:hover {
    color: #dd5771;
}
  </style>


